/* RESET **************************************** */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0 solid;
  word-break: break-word;
}

/* ROOT **************************************** */
:root {
  /* font-family */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  /* modular scale */
  /* 1em | 0.75em  | 0.563em | 0.422em | 0.317em | 0.238em */
  /* 1em | 1.333em | 1.777em | 2.369em | 3.157em | 4.209em */
  --ratio: 1.333;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0:calc(1rem + 0.333vw);
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));

  /* sizes */
  --max-inline-size: 1000px;
  --min-inline-size: 280px;
  --line-height: 1.5;

  /* paddings */
  --padding-composition: var(--s2);
  --padding-box: var(--s1);
  --padding-element: var(--s0);

  /* colors */
  --clr-light: white;
  --clr-trans-light: hsla(0, 0%, 100%, 0.35);
  --clr-trans-strong: hsla(0, 0%, 100%, 0.6);
  --clr-dark: black;
  --clr-accent: #c7365f;

  /* border */
  --border-clr: var(--clr-dark);
  --border-style: solid;
  --border-width: 1px;
  --border: var(--border-clr) var(--border-style) var(--border-width);
  --border-radius: var(--s-4);

  /* button */
  --button-radius: var(--s-4);
}

/* GLOBAL **************************************** */
body {
  overflow-x: hidden;
  height: 100vh;
  min-inline-size: var(--min-inline-size);
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  background-size: cover;
  color: var(--clr-dark);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height);
  text-transform: uppercase;
  white-space: nowrap;
}

header {
  margin-block-end: var(--s1);
}

header > :first-child {
margin-inline-end: auto;
}

button {
  padding: var(--s-2) var(--s1);
  border-radius: var(--button-radius);
  background-color: var(--clr-trans-strong);
  text-transform: uppercase;
  font-size: var(--s-1);
  white-space: nowrap;
  cursor: pointer;
}

main {
  text-align: center;
}

h2 {
  font-size: var(--s2);
  font-weight: normal;
}

h2 ~ p {
  font-size: var(--s5);
  color: var(--clr-accent);
}

.frame p {
  font-size: var(--s-1);
  color: var(--clr-light);
}

.frame :last-child {
  font-size: var(--s0);
}

/* COMPOSITION **************************************** */
.container {
  padding-inline: calc(max(var(--padding-composition), 50vw - var(--max-inline-size) / 2));
  padding-block: var(--padding-composition);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, var(--s0));
  --justify: flex-start;
  justify-content: var(--justify);
  align-items: center;
}

.box {
  --space: var(--s4);
  padding: var(--space) var(--padding-composition);
  border: none;
  color: var(--color-dark);
  background-color: var(--clr-trans-light);
  border-radius: var(--border-radius);
}

.switcher {
  display: flex;
  flex-wrap: wrap;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((37rem - 100%) * 999);
}

.frame {
  --w: 1;
  --h: 1;
  aspect-ratio: var(--w) / var(--h);
  overflow: hidden;
  margin-inline: auto;
  max-inline-size: max(var(--s6),33.333%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: var(--border-radius);
  background-color: var(--clr-accent);
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
} 

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

/* UTILITIES **************************************** */
.flow > :where(:not(:first-child)) {
  margin-block-start: var(--space-flow, 5rem);
}

.space-flow-none{
  --space-flow: none;
}

.space-flow6{
  --space-flow: var(--s6);
}

.space-4 {
  --space: var(--s-4);
  --padding-composition: var(--s-4);
}

.flex-gap {
  display: flex;
  gap: var(--space, var(--s0));
}

/* BLOCK **************************************** */
