/* RESET **************************************** */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0 solid;
  word-break: break-word;
}

/* ROOT **************************************** */
:root {
  /* font-family */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  /* modular scale */
  /* 1em | 0.75em  | 0.563em | 0.422em | 0.317em | 0.238em */
  /* 1em | 1.333em | 1.777em | 2.369em | 3.157em | 4.209em */
  --ratio: 1.333;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0:calc(1rem + 0.333vw);
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s6: calc(var(--s5) * var(--ratio));

  /* font-weight */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* sizes */
  --max-inline-size: 1000px;
  --min-inline-size: 280px;
  --line-height: 1.5;

  /* paddings */
  --padding-composition: var(--s2);
  --padding-box: var(--s1);
  --padding-element: var(--s0);

  /* colors */
  --clr-light: white;
  --clr-trans-light: hsla(0, 0%, 100%, 0.35);
  --clr-trans-strong: hsla(0, 0%, 100%, 0.6);
  --clr-dark: black;
  --clr-accent: #c7365f;

  /* border */
  --border-clr: var(--clr-dark);
  --border-style: solid;
  --border-width: 1px;
  --border: var(--border-clr) var(--border-style) var(--border-width);
  --border-radius: var(--s-4);

  /* button */
  --button-radius: var(--s-4);
}

/* GLOBAL **************************************** */
body {
  overflow-x: hidden;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  background-attachment: fixed;
  min-inline-size: var(--min-inline-size);
  padding: var(--padding-composition);
  color: var(--clr-dark);
  font-family: var(--font-sans-serif);
  line-height: var(--line-height);
  text-transform: uppercase;
}

:is(section, button, .dice) {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
}

button {
  padding: var(--s-2) var(--s1);
  background-color: var(--clr-trans-light);
  text-transform: uppercase;
  font-size: var(--s-1);
  cursor: pointer;
  border-radius: var(--button-radius);
}

button:hover{
  background-color: var(--clr-trans-strong);
}

button:active {
  transform: translate(0, 3px);
  background-color: var(--clr-trans-strong);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

img{
  max-inline-size: var(--s5);
}

h2{
  font-size: var(--s1);
  font-weight: var(--fw-400);
  letter-spacing: calc(var(--s-5)/5);
}

h3{
  font-size: var(--s2);
  font-weight: var(--fw-600);
  color: var(--clr-accent);
}

h4{
  font-size: var(--s0);
  font-weight: var(--fw-400);
}

p{
  font-weight: var(--fw-100);
}

/* COMPOSITION **************************************** */
.container {
  padding: var(--padding-composition) max(var(--padding-composition), 50vw - var(--max-inline-size) / 2);
}

/* box */
.box {
  padding: var(--padding-box);
  background-color: var(--clr-trans-light);
  border-radius: var(--border-radius);
}

.box > .box {
  background-color: var(--clr-accent);
  color: var(--clr-light);
}

/* stack */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
} 

.stack > * + * {
  margin-block-start: var(--space, var(--padding-composition));
}

/* cluster */
.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

/* switcher */
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.switcher > * {
  --flex-grow: 1;
  flex-grow: var(--flex-grow);
  --max-inline-size: 30rem;
  flex-basis: calc(( var(--max-inline-size) - 100%) * 999);
}

.switcher > :nth-child(2){
  --flex-grow: 0;
  --max--inline-size: 1rem;
  margin-inline: auto;
  margin-block: auto;
}
  

/* UTILITIES **************************************** */
.flow > :where(:not(:first-child)) {
  margin-block-start: var(--space, 5rem);
}

.margin-inline-end\:auto{
  margin-inline-end: auto;
}

.text-align\:center {
  text-align: center;
}

/* space */
.space-5{--space: var(--s-5);}
.space-4{--space: var(--s-4);}
.space-3{--space: var(--s-3);}
.space-2{--space: var(--s-2);}
.space-1{--space: var(--s-1);}
.space0{--space: var(--s0);}
.space1{--space: var(--s1);}
.space2{--space: var(--s2);}
.space3{--space: var(--s3);}
.space4{--space: var(--s4);}
.space5{--space: var(--s5);}


/* hidden */
.hidden{
  display: none;
}

/* BLOCK **************************************** */
.player--active{
  background-color: var(--clr-trans-strong);
}

.player--winner{
  background-color: var(--clr-dark);
  color: var(--clr-accent);
}